.classificacao {
    margin-top: 16px;

    &__titulo {
        font-size: large;
    }

    &__list {
        &__icon {
            margin-top: 8px;
        }

        .icon--full use {
            stroke-width: 3;
        }

        .icon--half use {
            stroke-width: 3;
            clip-path: inset(0 calc((100% / 2) * (2 - 1)) 0 0);
        }
    }

    svg {
        max-width: 24px;
    }
}