@use 'variaveis';
@use 'header';
@use 'hero';
@use 'filmes';
@use 'atores';
@use 'classificacao';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDoBackground;
}